:root{
    --fondo-container:rgba(0,0,0,0.55);
    --responsive-form:70%;
    --responsive-container:70%;
    --responsive-inputWhidth:80%;
    --padding-input:6px;
    --radius-border:10px;
    --sombra-color:rgb(221,221,221);
    --borde-focus:rgb(88, 8, 8);
}


*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}
/*Pagina de login*/

html{
    font-size: 18px;
}

.home{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    padding: 0;
    background: url(./Imagenes/Ciudad-luz.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: var(--fondo-container);
    border-radius: 25px;
    height: 80%;
    width: 70%;
    max-height: 600px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formHome{
    height: var(--responsive-form);
    width: var(--responsive-form);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;
}

.inputUser{
    background-image: url(./Imagenes/User_3.svg);
    background-size: 25px 25px;
    width: 100%;
    max-width: 300px;
    background-repeat: no-repeat;
    background-position: right center;
    height: 32px;
    font-size: 1rem;
    color: black;
    padding-left: 6px;
    border-radius: var(--radius-border);
}

.inputPassword{
    background-image: url(./Imagenes/Candado-1.svg);
    background-size: 25px 25px;
    width: 100%;
    max-width: 300px;
    background-repeat: no-repeat;
    background-position: right center;
    height: 32px;
    font-size: 1rem;
    color: black;
    padding-left: 6px;
    border-radius: var(--radius-border);
}
    

.inputUser:focus{
    outline: none; 
    box-shadow: 0px 5px 15px 8px rgba(0255, 255, 255,0.66);
}

.inputPassword:focus{
    outline: none; 
    box-shadow: 0px 5px 15px 8px rgba(0255, 255, 255,0.66);
}

.inputUser:hover{
    box-shadow: 0px 5px 15px 8px rgba(0255, 255, 255,0.66);
    
}

.inputPassword:hover{
    box-shadow: 0px 5px 15px 8px rgba(0255, 255, 255,0.66);
    
}

.buttonForm{
    height: 32px;
    width: 80%;
    max-width: 180px;
    border-radius: var(--radius-border);
    outline: 0px;
}

.recoverAccount{
    margin-top: 10px;
    color:white;
    font-size: 12px;
}

.recoverAccount:hover{
    color: #FF0000;
}

