:root{
    --fondo-container:rgba(0,0,0,0.55);
    --responsive-form:75%;
    --responsive-container:70%;
    --responsive-inputWhidth:80%;
    --padding-input:6px;
    --radius-border:10px;
    --sombra-color:rgb(221,221,221);
    --borde-focus:rgb(88, 8, 8);
    --responsive-media-width:70%;
    --responsive-media-heigth:70%;

}


*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}
/*pag the login*/

html{
    font-size: 18px;
}

.home{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    padding: 0;
    background: url(../Imagenes/fond-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1.5rem;
    
    
}

.container{
    background-color: var(--fondo-container);
    border-radius: 25px;
    height: 50%;
    width: 70%;
    max-height: 600px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    
}

.formHome{
    height: var(--responsive-form);
    width: var(--responsive-form);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
}

.inputUser{
    background-image: url(../Imagenes/User_3.svg);
    background-size: 25px 25px;
    width: 100%;
    max-width: 300px;
    background-repeat: no-repeat;
    background-position: right center;
    height: 32px;
    font-size: 1rem;
    color: black;
    padding-left: 6px;
    border-radius: var(--radius-border);
}

.inputPassword{
    background-image: url(../Imagenes/Candado-1.svg);
    background-size: 25px 25px;
    width: 100%;
    max-width: 300px;
    background-repeat: no-repeat;
    background-position: right center;
    height: 32px;
    font-size: 1rem;
    color: black;
    padding-left: 6px;
    border-radius: var(--radius-border);
}
    

.inputUser:focus{
    outline: none; 
    box-shadow: 0px 2px 2px 2px rgba(0255, 255, 255,0.66);
}

.inputPassword:focus{
    outline: none; 
    box-shadow: 0px 2px 2px 2px rgba(0255, 255, 255,0.66);
}

.inputUser:hover{
    box-shadow: 0px 2px 2px 2px rgba(0255, 255, 255,0.66);
    
}

.inputPassword:hover{
    box-shadow: 0px 2px 2px 2px rgba(0255, 255, 255,0.66);
    
}



.buttonForm{
    height: 32px;
    width: 80%;
    max-width: 180px;
    border-radius: var(--radius-border);
    outline: 0px;
}

.recoverAccount{
    margin-top: 10px;
    color:white;
    font-size: 12px;
}

.recoverAccount:hover{
    color: #FF0000;
}

.buttonForm:active{
    transform: scale(0.95);
}

.containerLog{
    border-radius: 25px;
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.containerLog img{
    height: 280px;
    width: 160px;
    border-radius: var(--radius-border);
    opacity: 0.6;
    border: 2 solid black;
}

@media screen and (max-width: 900px){

    .formHome{
        height: var(--responsive-media-heigth);
        width: var(--responsive-media-width);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
    }
    
    .inputUser{
        background-image: url(../Imagenes/User_3.svg);
        background-size: 15px 15px;
        width: 100%;
        max-width: 300px;
        background-repeat: no-repeat;
        background-position: right center;
        height: 20px;
        font-size: 0.6rem;
        color: black;
        padding-left: 4px;
        border-radius: var(--radius-border);
    }
    
    .inputPassword{
        background-image: url(../Imagenes/Candado-1.svg);
        background-size: 15px 15px;
        width: 100%;
        max-width: 300px;
        background-repeat: no-repeat;
        background-position: right center;
        height: 20px;
        font-size: 0.6rem;
        color: black;
        padding-left: 4px;
        border-radius: var(--radius-border);
    }

    .container{
        background-color: var(--fondo-container);
        border-radius: 25px;
        height: 50%;
        width: 65%;
        max-height: 600px;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttonForm{
        height: 20px;
        width: 65%;
        max-width: 180px;
        border-radius: var(--radius-border);
        outline: 0px;
        font-size: 0.6rem;

    }

    .recoverAccount{
        margin-top: 5px;
        color:white;
        font-size: 0.5rem;
    }

    .containerLog{
        display: none;
    }
}
